<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" thread-count="1" verbose="1" parallel="true">
	<test name="module1" preserve-order="true">
		<classes>
			<!-- <class name="sample.sample.com.TestA" /> -->
			<!-- <class name="sample.sample.com.TestB" /> -->
			<!-- <class name="sample.sample.com.TestC" /> -->

			<!-- <class name="sample.sample.com.LocateById" /> -->
			<class name="sample.sample.com.CssSelector" />


			
		</classes>
	</test>
</suite>